# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite

# Virtualenv
venv/
renv/
env/

# Django
*.log
*.pot
*.pyc
*.mo
*.DS_Store
/staticfiles/
media/
tenant_documents/

# IDEs
.vscode/
.idea/
