# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite

# Virtualenvs
venv/
renv/
env/

# Django
*.log
*.pot
*.mo
*.DS_Store
/staticfiles/
media/
tenant_documents/
.env

# IDEs
.vscode/
.idea/
