{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<style>
.btn-primary {
    background-color: #080605ff;
    border-color: #030303ff;      
    color: #fff;              
}

.btn-primary:hover {
    background-color: #4e4c4aff;
    border-color: #0b0b0aff;
}
.btn-primary:focus,
    .btn-primary:active {
    background-color: #0d0e0eff !important;
    border-color: #0d0e0eff !important;
    box-shadow: none !important;
    outline: none !important;
    }

</style>
<h2 class="mb-4">Dashboard</h2>

<div class="row g-4">
  <div class="col-md-6 col-lg-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Manage Tenants</h5>
        <p class="card-text">Add or invite new tenants and manage their details.</p>
        <a href="{% url 'manage_tenants' %}" class="btn btn-primary">View Tenants</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Rent Payments</h5>
        <p class="card-text">Track payment history and pending dues.</p>
        <a href="#" class="btn btn-primary">View Payments</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Tenant Documents</h5>
        <p class="card-text">Store and check all tenants documents here.</p>
        <a href="{% url 'documents_dashboard' %}" class="btn btn-primary">View Documents</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Maintenance Requests</h5>
        <p class="card-text">Handle and respond to maintenance issues.</p>
        <a href="{% url 'chat' %}" class="btn btn-primary">View Requests</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Bills</h5>
        <p class="card-text">View new bills and billing history.</p>
        <a href="{% url 'all_bills' %}" class="btn btn-primary">View Bills</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
